# Week 1 - AI/ML + DevOps Assignments

You're fully connected via Binder on Juno Connect — awesome!

This week's focus:
- **AI/ML:** Python basics with Pandas & NumPy
- **DevOps:** Simulate Linux terminal commands with Python

---

## Part 1: AI/ML – Pandas & NumPy Basics

In [11]:
import pandas as pd
import numpy as np


data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Score': [85, 90, 95]
}

df = pd.DataFrame(data)

print("Dataframe:")
print(df)

# Average score
print("\nAverage Score:", df['Score'].mean())

# Double ages
print("\nAges Doubled:")
print(df['Age'] * 2)

weather_data = {
  'day' : ['1/1/2025', '2/1/2025','3/1/2025'],
  'temperature': [32,35,28],
  'windspeed' : [6,7,2],
  'event' : ['Rain', 'Sun', 'Snow' ]
}

df = pd.DataFrame(weather_data)
print(df)

print("\nAverage temperature:", df['temperature'].mean())


football_data = {
    'team' : ['Arsenal', 'Liverpool', 'Man City', 'Chelsea', 'Man United' ],
    'points' : [37, 38, 36, 35, 21],
    'titles': [2, 19, 7, 3, 20],
    'position' : ['Second', 'First', 'Fith', 'Fourth', 'Thirteenth']

}

df = pd.DataFrame(football_data)
print(df)

Dataframe:
      Name  Age  Score
0    Alice   25     85
1      Bob   30     90
2  Charlie   35     95

Average Score: 90.0

Ages Doubled:
0    50
1    60
2    70
Name: Age, dtype: int64
        day  temperature  windspeed event
0  1/1/2025           32          6  Rain
1  2/1/2025           35          7   Sun
2  3/1/2025           28          2  Snow

Average temperature: 31.666666666666668
         team  points  titles    position
0     Arsenal      37       2      Second
1   Liverpool      38      19       First
2    Man City      36       7        Fith
3     Chelsea      35       3      Fourth
4  Man United      21      20  Thirteenth

---

## Part 2: DevOps – Simulating Linux Commands with subprocess

In [3]:
import subprocess

# List files (like `ls`)
print("Files in current directory:")
print(subprocess.run(['ls', '-l'], capture_output=True, text=True).stdout)

# Print working directory
print("Current working directory:")
print(subprocess.run(['pwd'], capture_output=True, text=True).stdout)

Files in current directory:
total 4
drwxr-xr-x 1 root root 4096 Apr  4 13:38 sample_data

Current working directory:
/content